<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="joob" type="JadeSoftware.Joob.Configuration.JoobConfigurationSection, JadeSoftware.Joob" />
  </configSections>

  <connectionStrings>
    <add name="myDefault" providerName="JadeSoftware.Joob.JoobConnection" connectionString="DataSource=c:\jade/system/;ConfigFile=c:\jade/system.ini;SingleUser=True;Schema=JoobSpatialDemoSchema;Application=;IntegratedSecurity=true"></add>
  </connectionStrings>

  <joob defaultConnection="myDefault">
    <installation directory="c:\jade\bin" />
  </joob>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
